<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" [routerLink]="['/']">Cryptocurrency Tracker</a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['/fiat-selection']">
                    <mat-icon class="example-icon">settings</mat-icon>
                </a>
            </li>
        </ul>
        <span class="navbar-text">
            Selected Fiat Currency: {{currentFiat$ | async}}
        </span>
    </div>
</nav>