<form [formGroup]="fiatReactiveForm">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Select fiat currency</label>
        <select class="browser-default custom-select col-sm-6" formControlName="fiatSelect">
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="CNY">CNY</option>
          </select>
        <button class="btn btn-primary col-sm-4" [routerLink]="['/cryptocurrency-list']">Go back</button>
    </div>
</form>