<div class="row mt-3">
    <form [formGroup]="fiatReactiveForm" class="w-100">
        <div class="form-group row">
            <div class="col-sm-4">
                <label class="col-form-label">Select fiat currency</label>
            </div>
            <div class="col-sm-8">
                <select class="browser-default custom-select" formControlName="fiatSelect">
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="CNY">CNY</option>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="row mt-3">
    <div class="col">
        <button class="btn btn-dark" [routerLink]="['/cryptocurrency-list']">Go back</button>
    </div>
</div>