<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#" [routerLink]="['/']">Cryptocurrency Tracker</a>
    <button class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNav()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link mr-2" href="#" [routerLink]="['/fiat-selection']">
                    <mat-icon class="example-icon">settings</mat-icon>
                    <span>Settings</span>
                </a>
            </li>
        </ul>
        <span class="navbar-text">
            Selected Fiat Currency: <b>{{currentFiat$ | async}}</b>
        </span>
    </div>
</nav>