<h1>Cryptocurrency Details</h1>
<button class="btn btn-primary" (click)="refresh()">Refresh</button>
<table *ngIf="item">
    <tr>
        <td id="rank">Rank: </td>
        <td>{{item.cmc_rank}}</td>
    </tr>
    <tr>
        <td>Name: </td>
        <td>{{item.name}}</td>
    </tr>
    <tr>
        <td>Symbol: </td>
        <td>{{item.symbol}}</td>
    </tr>
    <tr>
        <td>Price_{{fiat}}: </td>
        <td>{{getFiatProperties(item).price}}</td>
    </tr>
    <tr>
        <td>24h Volume in {{fiat}}: </td>
        <td>{{getFiatProperties(item).price}}</td>
    </tr>
    <tr>
        <td>Market cap in {{fiat}}: </td>
        <td>{{getFiatProperties(item).market_cap}}</td>
    </tr>
    <tr>
        <td>Price in Bitcoin: </td>
        <td>{{getFiatProperties(item, 'BTC').price}}</td>
    </tr>
    <tr>
        <td>1h change in {{fiat}}: </td>
        <td>{{getFiatProperties(item).percent_change_1h}}</td>
    </tr>
    <tr>
        <td>24h change in {{fiat}}: </td>
        <td>{{getFiatProperties(item).percent_change_24h}}</td>
    </tr>
    <tr>
        <td>7d change in {{fiat}}: </td>
        <td>{{getFiatProperties(item).percent_change_7d}}</td>
    </tr>
    <tr>
        <td>Total supply: </td>
        <td>{{item.total_supply}}</td>
    </tr>
    <tr>
        <td>Available supply: </td>
        <td>{{item.max_supply - item.circulating_supply}}</td>
    </tr>
</table>
<div *ngIf="error$ | async">
    <h2>No details to show</h2>
    <h2>{{error$ | async}}</h2>
</div>